<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Rundal - Modern Multi-Purpose HTML5 Template</title>
      <!--Mega Tags-->
      <meta name="description" content="The Multi-Purpose HTML5 Template">
      <meta name="keywords" content="The Multi-Purpose HTML5 Template">
      <meta name="author" content="separateweb">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="theme-color" content="#fff">
      <!--Website Favicon Logo-->
      <link href="images/favicon.png" rel="icon">
      <!--Plugin CSS Files-->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/all.css" rel="stylesheet">
      <link href="css/css.plugin.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <!--Custom CSS File-->   
      <link href="css/theme.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link href="css/responsive.css" rel="stylesheet">
   </head>
   <body>
      <!-- Header -->
      <header class="rundal-header fixed-top animation header-light">
         <div class="container-fluid">
            <div class="menu-header">
               <div class="menu-logo">
                  <div class="website-logo">
                     <a href="index.html" class="brandlogo">
                     <img src="images/logo-white.svg" alt="logo" class="light">
                     <img src="images/logo-dark.svg" alt="logo" class="dark">
                     </a>
                  </div>
               </div>
               <div class="rundal-nav">
                  <nav class="navbar navbar-expand-lg">
                     <div class="container-fluid">
                        <div class="offcanvas offcanvas-start-lg" tabindex="-1" id="offcanvasmenu-sw" aria-labelledby="offcanvasExampleLabel">
                           <div class="offcanvas-header d-flex d-lg-none">
                              <div class="offcanvas-title" id="offcanvasExampleLabel"><img src="images/logo-dark.svg" alt="logo" class="sidebarlogo"></div>
                              <a href="javascript:void(0)" class="text-reset p-0" data-bs-dismiss="offcanvas" aria-label="close">✖︎</a>
                           </div>
                           <div class="offcanvas-body p-lg-0">
                              <ul class="navbar-nav">
                                 <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                                 <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                                 <li class="nav-item"><a href="#" class="nav-link">Service</a></li>
                                 <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <div class="rundal-nav-cta">
                  <ul class="sw-menu-sw-set">
                     <li><a href="contact-us-1.html" class="r-g-btn r-g-btn-2 btn-head"> Get in Touch </a> </li>
                     <li class="sidebarmenuicon"><a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasmenu-sw" aria-controls="offcanvasmenu-sw"><i class="fa-solid fa-bars-staggered"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </header>
      <!-- Header End -->

      <!-- inner pages head -->
      <div class="rundal-hero">
         <div class="container">
            <div class="row vcenter justify-content-center">
               <div class="col-lg-5">
                  <div class="headconent text-center">
                     <h1>Footer Design 5</h1>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--inner head end -->

<!-- roll text -->
<div class="separatewebhranimation rg-bg-x  menusw">
   <div class="marquee__inner animation-2" aria-hidden="true">
      <ul class="marquee-item-list">
         <li><span>We Build Brands</span><span class="alternate">✦</span></li>
         <li><span>Focus on Your Business</span><span class="alternate">✦</span></li>
         <li><span>Grow Your Business</span><span class="alternate">✦</span></li>
         <li><span>Build Your Audience</span><span class="alternate">✦</span></li>
         <li><span>Gain More Traffic</span><span class="alternate">✦</span></li>
         <li><span>Increase Brand Awareness</span><span class="alternate">✦</span></li>
         <li><span>Develop Global Presence</span><span class="alternate">✦</span></li>
         <li><span>We Build Brands</span><span class="alternate">✦</span></li>
         <li><span>Focus on Your Business</span><span class="alternate">✦</span></li>
         <li><span>Grow Your Business</span><span class="alternate">✦</span></li>
         <li><span>Build Your Audience</span><span class="alternate">✦</span></li>
         <li><span>Gain More Traffic</span><span class="alternate">✦</span></li>
         <li><span>Increase Brand Awareness</span><span class="alternate">✦</span></li>
         <li><span>Develop Global Presence</span><span class="alternate">✦</span></li>
      </ul>
   </div>
</div>
<!--// roll text -->

<!-- footer block -->
<footer class="footerfive footerbg" data-background="images/shape/world-map-1.svg">
   <div class="container">
      <div class="row justify-content-between">
         <div class="col-lg-6">
            <div class="row justify-content-between">
               <div class="col-lg-5 col-md-6 mt30">
                  <a href="#" class="footerlogo-3"><img src="images/logo-dark.svg" alt="img"></a>              
                  <p class="mt30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                  <a href="#" class="r-g-btn r-g-btn-7 mt30"> Company Profile </a>
               </div>
               <div class="col-lg-5 col-md-6 fthead mt30">
                  <div class="infobblk">
                     <h5>Follow Us</h5>
                     <ul class="socialmedia">
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa-brands fa-youtube"></i></a></li>
                     </ul>
                  </div>
                  <div class="contactnumberdiv mt30">
                     <p class="mb15 linktitle">We're Available 24/7.</p>
                     <a href="#"><i class="fa-solid fa-tty mr10"></i> 91 123 4567 890</a>
                     <a href="#"><i class="fa-brands fa-whatsapp mr10"></i> 91 123 4567 890</a>
                     <a href="#"><i class="fa-solid fa-envelope mr10"></i> hr@yourwebsite.com</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-5 fthead link-hover">
            <div class="row justify-content-between">
               <div class="col-lg-5 col-md-5 mt30">
                  <h5 class="collapsible">Company Link</h5>
                  <ul class="footer-links-list content">
                     <li><a href="javascript:void(0)">About Us </a></li>
                     <li><a href="javascript:void(0)">Contact Us</a></li>
                     <li><a href="javascript:void(0)">Privacy Policy</a></li>
                     <li><a href="javascript:void(0)">Term of Service</a></li>
                     <li><a href="javascript:void(0)">Sitemap</a></li>
                  </ul>
               </div>
               <div class="col-lg-5 col-md-5 mt30 mm0">
                  <h5 class="collapsible">Our Services</h5>
                  <ul class="footer-links-list content">
                     <li><a href="javascript:void(0)">Artificial Intelligence </a></li>
                     <li><a href="javascript:void(0)">Data Science </a></li>
                     <li><a href="javascript:void(0)">Internet of Things </a></li>
                     <li><a href="javascript:void(0)">Web Development </a></li>
                     <li><a href="javascript:void(0)">Digital Marketing </a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-end border-top-dashed">
      <div class="container">
         <div class="row">
            <div class="col-lg-5">
               <div class="ft-copyright">
                  <p>© 2022 SeparateWeb. All Rights Reserved.</p>
               </div>
            </div>
            <div class="col-lg-7">
               <div class="ft-linkz link-hover">                    
                  <a href="#">Sitemap </a>                   
                  <a href="#">Privacy Policy </a>                                          
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- // -->

<!-- back to top -->
<div class="progress-wrap">
   <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"> <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/></svg>
</div>

      <!--Plugin Js Files -->
      <script src="js/jquery.min.js"></script>   
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/min.plugin.js"></script>     
      <!--Custom Js File -->   
      <script src="js/custom.js"></script>      
   </body>
</html>