<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Rundal - Modern Multi-Purpose HTML5 Template</title>
      <!--Mega Tags-->
      <meta name="description" content="The Multi-Purpose HTML5 Template">
      <meta name="keywords" content="The Multi-Purpose HTML5 Template">
      <meta name="author" content="separateweb">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="theme-color" content="#fff">
      <!--Website Favicon Logo-->
      <link href="images/favicon.png" rel="icon">
      <!--Plugin CSS Files-->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/all.css" rel="stylesheet">
      <link href="css/css.plugin.css" rel="stylesheet">
      <link href="css/timeline.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <!--Custom CSS File-->   
      <link href="css/theme.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link href="css/responsive.css" rel="stylesheet">
   </head>
   <body>
      <!-- Header -->
      <header class="rundal-header fixed-top animation header-light">
         <div class="container-fluid">
            <div class="menu-header">
               <div class="menu-logo">
                  <div class="website-logo">
                     <a href="index.html" class="brandlogo">
                     <img src="images/logo-white.svg" alt="logo" class="light">
                     <img src="images/logo-dark.svg" alt="logo" class="dark">
                     </a>
                  </div>
               </div>
               <div class="rundal-nav">
                  <nav class="navbar navbar-expand-lg">
                     <div class="container-fluid">
                        <div class="offcanvas offcanvas-start-lg" tabindex="-1" id="offcanvasmenu-sw" aria-labelledby="offcanvasExampleLabel">
                           <div class="offcanvas-header d-flex d-lg-none">
                              <div class="offcanvas-title" id="offcanvasExampleLabel"><img src="images/logo-dark.svg" alt="logo" class="sidebarlogo"></div>
                              <a href="javascript:void(0)" class="text-reset p-0" data-bs-dismiss="offcanvas" aria-label="close">✖︎</a>
                           </div>
                           <div class="offcanvas-body p-lg-0">
                              <ul class="navbar-nav">
                                 <li class="nav-item dropdown sw-megamenu">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Home Demo</a>
                                    <div class="dropdown-menu megamenu" role="menu">
                                       <div class="megamenucontent">
                                          <div class="container">
                                             <div class="row border-in-colmn">
                                                <div class="col bdright">
                                                   <div class="demoimages shadow">
                                                      <a href="demo-1.html"><img src="images/demo-images/home-1.jpg" alt="img"></a>                                                      
                                                   </div>
                                                   <a href="demo-1.html" class="demotitle">Demo 1</a>
                                                </div>
                                                <div class="col bdright">
                                                   <div class="demoimages shadow">
                                                      <a href="demo-2.html"><img src="images/demo-images/home-2.jpg" alt="img"></a>                                                     
                                                   </div>
                                                   <a href="demo-2.html" class="demotitle">Demo 2</a>
                                                </div>
                                                <div class="col bdright">
                                                   <div class="demoimages shadow">
                                                      <a href="demo-3.html"><img src="images/demo-images/home-3.jpg" alt="img"></a>                                                      
                                                   </div>
                                                   <a href="demo-3.html" class="demotitle">Demo 3</a>
                                                </div>
                                                <div class="col bdright">
                                                   <div class="demoimages shadow">
                                                      <a href="demo-4.html"><img src="images/demo-images/home-4.jpg" alt="img"></a>                                                      
                                                   </div>
                                                   <a href="demo-4.html" class="demotitle">Demo 4</a>
                                                </div>
                                                <div class="col">
                                                   <div class="demoimages shadow">
                                                      <a href="demo-5.html"><img src="images/demo-images/home-5.jpg" alt="img"></a>                                                      
                                                   </div>
                                                   <a href="demo-5.html" class="demotitle">Demo 5</a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">About us</a>
                                    <ul class="dropdown-menu signledropdown">
                                       <li><a class="dd-item" href="about-1.html"> About Us Page 1</a></li>
                                       <li><a class="dd-item" href="about-2.html"> About Us Page 2</a></li>
                                    </ul>
                                 </li>
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Services</a>
                                    <ul class="dropdown-menu signledropdown">
                                       <li><a class="dd-item" href="service-1.html"> Service Page 1</a></li>
                                       <li><a class="dd-item" href="service-2.html"> Service Page 2</a></li>
                                    </ul>
                                 </li>
                                 <li class="nav-item dropdown sw-megamenu">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">All Pages</a>
                                    <div class="dropdown-menu megamenu" role="menu">
                                       <div class="megamenucontent">
                                          <div class="container">
                                             <div class="row border-in-colmn">
                                                <div class="col bdright">
                                                   <ul>
                                                      <li class="dd-title">Portfolio Page</li>
                                                      <li><a class="dd-item" href="portfolio-1.html"><i class="fa-solid fa-briefcase"></i> Portfolio 3D</a></li>
                                                      <li><a class="dd-item" href="portfolio-2.html"><i class="fa-solid fa-briefcase"></i> Portfolio Load More</a></li>
                                                      <li><a class="dd-item" href="portfolio-3.html"><i class="fa-solid fa-briefcase"></i> Portfolio Gallery</a></li>
                                                      <li><a class="dd-item" href="portfolio-details-1.html"><i class="fa-solid fa-briefcase"></i> Portfolio Details</a></li>
                                                   </ul>
                                                </div>
                                                <div class="col bdright">
                                                   <ul>
                                                      <li class="dd-title">Blogs Page</li>
                                                      <li><a class="dd-item" href="blog-page-1.html"><i class="fa-solid fa-square-rss"></i> Blog Page </a></li>
                                                      <li><a class="dd-item" href="blog-details-1.html"><i class="fa-solid fa-square-rss"></i> Blog Details Page </a></li>
                                                   </ul>
                                                </div>
                                                <div class="col bdright">
                                                   <ul>
                                                      <li class="dd-title">Contact Us Page</li>
                                                      <li><a class="dd-item" href="contact-us-1.html"><i class="fa-solid fa-circle-user"></i> Contact Us Page 1</a></li>
                                                      <li><a class="dd-item" href="contact-us-2.html"><i class="fa-solid fa-circle-user"></i> Contact Us Page 2</a></li>
                                                   </ul>
                                                </div>
                                                <div class="col">
                                                   <ul>
                                                      <li class="dd-title">Other Pages</li>
                                                      <li><a class="dd-item" href="pricing.html"><i class="fa-solid fa-file-lines"></i> Pricing Page</a></li>
                                                      <li><a class="dd-item" href="faq.html"><i class="fa-solid fa-file-lines"></i> Accordion FAQ</a></li>
                                                      <li><a class="dd-item" href="login.html"><i class="fa-solid fa-file-lines"></i> Login</a></li>
                                                      <li><a class="dd-item" href="register.html"><i class="fa-solid fa-file-lines"></i> Register</a></li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <div class="rundal-nav-cta">
                  <ul class="sw-menu-sw-set">
                     <li><a href="contact-us-1.html" class="r-g-btn r-g-btn-2 btn-head"> Get in Touch </a> </li>
                     <li class="sidebarmenuicon"><a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasmenu-sw" aria-controls="offcanvasmenu-sw"><i class="fa-solid fa-bars-staggered"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </header>
      <!-- Header End -->
      <!-- inner pages head -->
      <div class="head-section rg-bg-2">
         <div class="container">
            <div class="row justify-content-between align-end">
               <div class="col-xl-5 col-lg-5">
                  <div class="headconent">
                     <div class="mb15">
                        <p class="featured-tag" data-cue="slideInUp" data-delay="100">Web Desgin, UI/UX Design</p>
                     </div>
                     <h1 data-cue="slideInUp" data-delay="100">Go Travel</h1>
                     <p data-cue="slideInUp" data-delay="400">You may be wondering why your site has such a high bounce rate or why your conversion rates are so low.</p>
                     <a href="contact.html" class="r-g-btn r-g-btn-2 mt30" data-cue="slideInUp" data-delay="600"> Live Preview </a>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-5 mmt40">
                  <div class="headconent-2">
                     <div class="portfolio-meta link-hover">
                        <ul>
                           <li data-cue="slideInUp" data-delay="100">
                              <i class="fas fa-user"></i>
                              <p>Industries Type <span>Tourism and Hospitality</span></p>
                           </li>
                           <li data-cue="slideInUp" data-delay="400">
                              <i class="fas fa-tags"></i>
                              <p>Technology Used: <span>PHP, Wordpress, SQL Database</span></p>
                           </li>
                           <li data-cue="slideInUp" data-delay="600">
                              <i class="fas fa-calendar-alt"></i>
                              <p>Project Date: <span>20 May 2022</span></p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- portfolio details block -->
      <section class="sec-pad pt40">
         <div class="container">
            <div class="row" data-cues="slideInUp" data-delay="100">
               <div class="col-lg-6 mt30">
                  <div class="big-img-block shadow roundimg"><img src="images/portfolio/portfolio-details-big-1.jpg" alt="img"></div>
               </div>
               <div class="col-lg-6 mt30">
                  <div class="big-img-block shadow roundimg"><img src="images/portfolio/portfolio-details-big-2.jpg" alt="img"></div>
               </div>
               <div class="col-lg-6 mt30">
                  <div class="big-img-block shadow roundimg"><img src="images/portfolio/portfolio-details-big-3.jpg" alt="img"></div>
               </div>
               <div class="col-lg-6 mt30">
                  <div class="big-img-block shadow roundimg"><img src="images/portfolio/portfolio-details-big-4.jpg" alt="img"></div>
               </div>
            </div>
            <div class="row justify-content-center">
               <div class="col-lg-12 mt100">
                  <div class="portfolio-details-info paragraph">
                     <h3>Overview</h3>
                     <p>You may be wondering why your site has such a high bounce rate or why your conversion rates are so low. You put a lot of effort into the design of your website, and you know your material is distinctive, useful, and fascinating. If you're having difficulties keeping visitors on your website, your loading speed could be to blame.</p>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
               </div>
            </div>
            <div class="row mt100 vcenter">
               <div class="col-lg-6 order2 mmt40">
                  <div class="single-image roundimg" data-cues="slideInLeft" data-delay="100">
                     <img src="images/portfolio/travesl-inner.jpg" alt="img">
                  </div>
               </div>
               <div class="col-lg-6 padding-left-50 order1">
                  <span class="subtitleheading">✦ Business Problem</span>            
                  <h2>Creating a comprehensive travel app to facilitate travel.</h2>
                  <p class="mt20">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without
                     relying on meaningful content.</p>
                  <div class="r-g-featurelist mt30" data-cues="slideInUp" data-delay="100">
                     <div class="numbermedia media">
                        <div class="numbericons">1</div>
                        <div class="contentfornumber">
                           <h4>We provide solutions and free consultation.</h4>
                        </div>
                     </div>
                     <div class="numbermedia media">
                        <div class="numbericons">2</div>
                        <div class="contentfornumber">
                           <h4>We deliver based on your schedule Time.</h4>
                        </div>
                     </div>
                     <div class="numbermedia media">
                        <div class="numbericons">3</div>
                        <div class="contentfornumber">
                           <h4>We do provide very detailed analysis before start project.</h4>
                        </div>
                     </div>
                     <div class="numbermedia media">
                        <div class="numbericons">4</div>
                        <div class="contentfornumber">
                           <h4>All website that we build must be SEO friendly.</h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row mt100 vcenter">
               <div class="col-lg-6 padding-left-50">
                  <span class="subtitleheading">✦ Business Challenges</span>            
                  <h2>Take advantage of the travel sector to help customers plan simple excursions.</h2>
                  <p class="mt20">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
                  <ul class="licircle mt30" data-cues="slideInUp" data-delay="100">
                     <li>Manage your payments, refunds, transfers, subscriptions, invoicing, and more.</li>
                     <li>Gain real-time data and insights to make more educated business choices.</li>
                  </ul>
               </div>
               <div class="col-lg-6 mmt40">
                  <div class="single-image roundimg" data-cue="slideInRight" data-delay="100">
                     <img src="images/portfolio/travesl-inner-2.jpg" alt="img">
                  </div>
               </div>
            </div>
            <div class="row mt100">
               <div class="col-lg-8 paragraph">
                  <span class="subtitleheading">✦ Rundal Solution</span>
                  <h2>Kickstart your project with Rundal creative service.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               </div>
            </div>
            <div class="row mt30" data-cues="slideInUp" data-delay="100">
               <div class="col-lg-3 col-md-6 mt30">
                  <div class="iconblockcard r-g-card shadow">
                     <div class="iconblock">
                        <img src="images/icons/key.png" alt="img">
                     </div>
                     <div class="icondata mt20">
                        <h4>Easy access</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 mt30">
                  <div class="iconblockcard r-g-card shadow">
                     <div class="iconblock">
                        <img src="images/icons/brush.png" alt="img">
                     </div>
                     <div class="icondata mt20">
                        <h4>Creative Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 mt30">
                  <div class="iconblockcard r-g-card shadow">
                     <div class="iconblock">
                        <img src="images/icons/certificate.png" alt="img">
                     </div>
                     <div class="icondata mt20">
                        <h4>Open Source</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 mt30">
                  <div class="iconblockcard r-g-card shadow">
                     <div class="iconblock">
                        <img src="images/icons/binary-code.png" alt="img">
                     </div>
                     <div class="icondata mt20">
                        <h4>Clean Code</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- // -->
      
      <!-- cta -->
      <section class="cta-sw-skew sec-pad pt0">
         <div class="container">
            <div class="cta-block shadow cta-bg" data-background="images/shape/cta-bg-1.svg">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="divblockcta">
                        <div class="cta-textblock">
                           <h2>Get a Digital Solution For Your Company That is Made Just For You.</h2>
                           <a href="#" class="r-g-btn r-g-btn-1 mt30 mt30">Start Your Free Trial</a>
                        </div>
                        <div class="ctaimgblock">
                           <p>We have a skilled tech-savvy team of developers that works on clients' projects efficiently and delivers the project right on time.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- cta -->

   <!-- footer block -->
   <footer class="footerdiv">
      <div class="container">
         <div class="row justify-content-between">
            <div class="col-lg-6">
               <div class="footertitle">
                  <span class="subtitleheading">✦ Want to work with us?</span>
                  <h2>Say Hello!</h2>
               </div>
            </div>
            <div class="col-lg-5">
               <div class="email-form">
                  <p>Get our news & discounts delivered right to your inbox by signing up for our newsletter.</p>
                  <form>
                     <div class="email-block">
                        <input type="email" placeholder="Enter Your Email Address">
                        <button type="submit" class="r-g-btn rg-bg-3x"><i class="fa-solid fa-arrow-right-long deg45"></i></button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="row borderline mt30 mb30 pt10">
            <div class="col-lg-3 col-md-6 fthead mt30">
               <a href="#" class="footerlogo-3"><img src="images/logo-dark.svg" alt="img"></a>              
               <div class="contactnumberdiv mt30">
                  <p class="mb15 linktitle">We're Available 24/7.</p>
                  <a href="#"><i class="fa-solid fa-tty mr10"></i> 91 123 4567 890</a>
                  <a href="#"><i class="fa-brands fa-whatsapp mr10"></i> 91 123 4567 890</a>
                  <a href="#"><i class="fa-solid fa-envelope mr10"></i> hr@yourwebsite.com</a>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 fthead mt30">
               <h5>Follow Us</h5>
               <ul class="footer-links-list">
                  <li><a href="javascript:void(0)"> <i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                  <li><a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
                  <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram fw6"></i> Instagram</a></li>
                  <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
               </ul>
            </div>
            <div class="col-lg-3 col-md-6 fthead mt30">
               <h5 class="collapsible">Services</h5>
               <ul class="footer-links-list link-hover content">
                  <li><a href="javascript:void(0)">Web Design</a></li>
                  <li><a href="javascript:void(0)">Game Development</a></li>
                  <li><a href="javascript:void(0)">Digital Marketing</a></li>
                  <li><a href="javascript:void(0)">Blockchain Development</a></li>
                  <li><a href="javascript:void(0)">E-Commerce Solutions</a></li>
               </ul>
            </div>
            <div class="col-lg-3 col-md-6 fthead mt30 mm0">
               <h5 class="collapsible">Resource</h5>
               <ul class="footer-links-list link-hover content">
                  <li><a href="javascript:void(0)">Web Design</a></li>
                  <li><a href="javascript:void(0)">Game Development</a></li>
                  <li><a href="javascript:void(0)">Digital Marketing</a></li>
                  <li><a href="javascript:void(0)">Blockchain Development</a></li>
                  <li><a href="javascript:void(0)">E-Commerce Solutions</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="footer-end borderline">
         <div class="container">
            <div class="row">
               <div class="col-lg-5">
                  <div class="ft-copyright">
                     <p>© 2022 SeparateWeb. All Rights Reserved.</p>
                  </div>
               </div>
               <div class="col-lg-7">
                  <div class="ft-linkz link-hover">                    
                     <a href="#">Sitemap </a>                   
                     <a href="#">Privacy Policy </a>                   
                     <a href="#">Terms & Conditions </a>                   
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- // -->

   <!-- back to top -->
   <div class="progress-wrap">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"> <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/></svg>
   </div>

      <!--Plugin Js Files -->
      <script src="js/jquery.min.js"></script>   
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/min.plugin.js"></script>        
      <!--Custom Js File -->   
      <script src="js/custom.js"></script>      
   </body>
</html>